<h1 class="page-title">Sobre mim</h1>

<div class="container">
  <p>Olá, me chamo Eduardo e tenho 25 anos.</p>

  <h3>Lar</h3>
  <p>Nasci e cresci em Anápolis, Goiás e continuo aqui ainda hoje.</p>

  <h3>Educação</h3>
  <p>Me graduei em Engenharia de Computação em 2020, pelo Centro Universitário
    de Anápolis - UniEvangélica.</p>

  <h3>Família</h3>
  <p>Apenas eu e minha mãe.</p>

  <h3>Valores</h3>
    <p>Valorizo muito a honestidade e a paciência.</p>

  <h3>Curiosidades</h3>
  <p>Computação não era meu plano original, meu objetivo era Engenharia Mecânica,
    mas mudei de ideia após a sugestão de um amigo.</p>
  
  <h3>Trabalho</h3>
  <p>Já fiz estágio em Análise de Testes, Análise de Requisitos e Desenvolvimento Web, e agora
    sou Desenvolvedor Trainee na Codeminer42</p>
  
  <h3>Hobbies</h3>
  <p>No meu tempo livre, gosto de jogar (League of Legends, Legends of Runeterra ou algum jogo indie),
    assistir videos, séries ou animes, e também de pesquisar sobre Astronomia.</p>
  
  <h3>Metas</h3>
  <p>Uma das minhas metas é me tornar um excelente desenvolvedor de software. Também espero futuramente
    poder praticar astrofotografia.</p>
</div>
