<h1 class="page-title">Meu TCC</h1>

<div class="container">
  <p>
    Me graduei em 2020 em Engenharia de Computação pelo Centro Universitário de Anápolis - Unievangélica, 
    e o título do meu Trabalho de Conclusão de Curso foi: <strong>Aplicação De Mineração de Dados
    na Descoberta dos Fatores Socioeconômicos Associados com o Desempenho dos Participantes do ENEM</strong>.
  </p>

  <p>
    No meu TCC, descrevo a aplicação de Mineração de Dados (MD) na base de dados do Exame Nacional do Ensino 
    Médio (ENEM), onde busquei encontrar regras de associação entre os dados socioeconômicos dos participantes 
    de Goiás e suas respectivas notas no exame.
  </p>

  <p>
    Para realizar a tarefa de MD, utilizei a linguagem Python junto de algumas de suas bibliotecas, como Pandas, 
    NumPy e Mlxtend. A técnica de MD escolhida foi a de Regras de Associação.
  </p>
  <p>
    Após realizar todas as etapas, encontrei resultados interessantes, como, por exemplo, o acesso a internet 
    e a computadores estar associado a notas maiores, ou uma renda familiar inferior estar associada a notas mais baixas.
  </p>
</div>
