<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sinatra App</title>
</head>
<body>
  <nav>
    <a class="nav-link" href="/">Sobre mim</a>
    <a class="nav-link" href="/myprs">Meus pull requests</a>
    <a class="nav-link" href="/finalpaper">Meu TCC</a>
  </nav>
  <%= yield %>
</body>
</html>
