<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sinatra App</title>
</head>
<body>
  <a href="/">Sobre mim</a>
  <br/>
  <a href="/myprs">Meus pull requests</a>
  <br/>
  <a href="/finalpaper">Meu TCC</a>
  <br/>
  <%= yield %>
</body>
</html>
