<h1 class="page-title">Meus pull requests</h1>

<ul class="pr-list">
  <li class="pr-list-item">
    <a class="pr-link" href="https://github.com/EduardoSCosta/desafio-log-parser/pull/1" target="_blank">Tarefa 01</a>
  </li>
  
  <li class="pr-list-item">
    <a class="pr-link" href="https://github.com/EduardoSCosta/desafio-log-parser/pull/2" target="_blank">Tarefa 02</a>
  </li>
  
  <li class="pr-list-item">
    <a class="pr-link" href="https://github.com/EduardoSCosta/desafio-log-parser/pull/4" target="_blank">Tarefa 03</a>
  </li>
  
  <li class="pr-list-item">
    <a class="pr-link" href="https://github.com/EduardoSCosta/desafio-log-parser/pull/5" target="_blank">Tarefa 04</a>
  </li>
  
  <li class="pr-list-item">
    <a class="pr-link" href="https://github.com/EduardoSCosta/desafio-log-parser/pull/6" target="_blank">Tarefa 05</a>
  </li>
  
  <li class="pr-list-item">
    <a class="pr-link" href="https://github.com/EduardoSCosta/desafio-log-parser/pull/3" target="_blank">Add Rubocop and SimpleCov gems</a>
  </li>
  
  <li class="pr-list-item">
    <a class="pr-link" href="https://github.com/EduardoSCosta/atividade-sinatra-app/pull/1" target="_blank">Setup</a>
  </li>
  
</ul>
